


/* This is an attribute selector for when it is “open”. */
details[open] {
	/* background-color: white; */
}

summary {
	cursor: pointer; /* Gives it the link cursor, which it doesn’t have by default. */
	font-weight: bold;
	list-style: none; /* Hides the default dot in Chrome. */
}

/* Hide the default little arrow in Safari. */
summary::-webkit-details-marker { display: none; }

/* Any element right after the summary. */
summary + * {
	margin-top: 10px;
}

/* A custom indicator. */
details summary:before {
	/* content:"+"; */
	font-size: 1.2em;
	margin-right: 1em;
}

details[open] summary:before {
	/* content:"–"; /* Change when it’s open. */ */
}







body {
	font-family: sans-serif;
	/* background-color: white; */
	background: rgb(0,33,255);
	background: linear-gradient(rgba(0,33,255,1) 0%, rgba(9,9,121,1) 70%, rgba(2,0,36,1) 150%);
	padding-bottom: 20px;
}


header {
background-color:transparent;
position: sticky;
height: 170px;
width: 100%;
top: 0;
left: 0;
padding-left: 2.65vw;
padding-right: 2.65vw;
}


footer {
	background-color:transparent;
	position: sticky;
	height: 170px;
	width: 100%;
	top: 0;
	left: 0;
	padding-left: 2.65vw;
	padding-right: 2.65vw;
	opacity: .2;

}
headerfont {
	margin-top: 0px;
}


section {
	width: 100vw;
	height: auto
	padding: 0px;
	display: block;
	border-top: 1.5px solid black

}



a {
	color: red;
}

h1 {
	font-family: neue-haas-grotesk-display, sans-serif;
	font-weight: 350;
	text-transform: uppercase;
	font-size: 140px;
	color: black;

}


p{
	font-family: neue-haas-grotesk-display, sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 0px;
	color: pink;
}

figure {
	padding: 0px;
	weight: 100%;
	height: auto;
}

image-block {
	padding: 10px;
	weight: 400px;
	height: auto;
	width: auto;
}



.rounded-container {
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: 1.5px solid black
}


img {
	width: auto;
	height: 400px;
	padding-left: 3vw;
	padding-right: 3vw;
	margin-bottom: 10px;
}

video {
	width: auto;
	height: 400px;
	padding-left: 3vw;
	padding-right: 3vw;
	margin-bottom: 10px;

}

.title {
	font-family: neue-haas-grotesk-display, sans-serif;
	font-size: 36px;
	padding-left: 3vw;
	padding-right: 3vw;
	font-weight: normal;
	text-transform: uppercase;
}

h3 {
	color: black;
	transition: all .3s linear;
}

h3:hover {
	color:white;
}



@media only screen and (max-width:375px) {

	h1 {
		font-size: 56px;
		line-height: 100%;
	}

	header {
		height: 100%;
		position: sticky;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 24px;
		padding-right: 24px;
	}

.title {
	font-size: 18px;
	padding-left: 24px;
	padding-right: 24px;
}

.rounded-container {
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: 1px solid black
}

section {
	width: 100vw;
	height: auto
	padding-left: 24px;
	padding-right: 24px;
		display: block;
	border-top: 1px solid black
}


	img {
		height: auto;
		width: auto;
		padding-left: 24px;
		padding-right: 24px;
	}

	video {
		height: auto;
		width: auto;
		padding-left: 24px;
		padding-right: 24px;
	}

	/* header {
			width: 100%;
			background: transparent;
			position: absolute;
			padding: 0px;
			margin: 0px;
		} */
}
