body {
	padding: 10px;
	font-family: sans-serif;
}


header {
background-color: TOMATO;
position: fixed;
width: 100%;
top: 0;
left: 0;
padding: 20px;
}


h1 {
	font-size: 200%
}

section {
	width: 60%;
	margin-top: 100px;
	background-color: darkgrey;
	padding: 0px;
	display: flex;
	/* how to make it flex wrap? */
	/* how to add padding between blocks? */
}





a {
	color: red;
}

h1 {
	font-size: 48px;
	color: yellow;
}

h2 {
	font-size: 16px;
	color: blue;
}

h3 {

}


p{
	font-size: 8px;
	color: black;
	opacity: 20%;
}

figure {
	padding: 20px;
}



.title {
	margin-bottom: 10px;
	color: green;
	font-size: 24px;
	font-weight: bold;
}
